{
  "openapi": "3.1.0",
  "info": {
    "title": "Playbook API",
    "version": "1.0.0",
    "description": "Automatize o seu LinkedIn a partir do seu sistema, com uma chave sua e sem instalar nada: busque pessoas e empresas, leia perfis, envie convites e mensagens (com anexo e InMail), acompanhe conversas, responda convites e publique, comente e reaja no feed.\n\n## Autenticacao\n\nToda chamada leva a sua chave no header `X-API-KEY`. A chave nasce no painel, aparece uma unica vez e vale para a conta de LinkedIn daquele painel: a conta usada em cada chamada e determinada pela chave, voce nao precisa (nem pode) informa-la no request.\n\n```bash\ncurl https://api.playbooklab.com.br/v1/chats -H \"X-API-KEY: lk_live_...\"\n```\n\n## Primeira chamada\n\nComece por `GET /v1/chats`: ela lista suas conversas e e de onde sai o `chat_id` que voce usa para enviar mensagem. Ler a caixa de entrada nao consome limite diario.\n\n## Respostas e erros\n\nSucesso vem sempre no envelope `{ \"ok\": true, \"data\": ... }`. Erro vem como `{ \"error\": \"<codigo>\" }`, com campos extras conforme o caso. Os codigos que mais aparecem:\n\n| Codigo | O que aconteceu |\n| --- | --- |\n| `invalid_api_key` | chave errada, revogada ou ausente |\n| `account_paused` | pagamento em atraso: a conta volta com o pagamento |\n| `linkedin_not_connected` | a conta do painel ainda nao conectou o LinkedIn |\n| `rate_limited` | limite diario atingido (veja abaixo) |\n| `not_found` | o recurso nao existe ou nao e desta conta |\n\n## Limites diarios\n\nO LinkedIn restringe contas que agem em volume, entao cada familia de acao tem um teto por dia, que zera as 21h (horario de Brasilia). O teto protege o seu perfil, nao a nossa infraestrutura. So conta o que o LinkedIn aceitou: erro nao consome.\n\n| Limite | Por dia | O que conta |\n| --- | --- | --- |\n| `messages` | 80 | enviar mensagem, iniciar conversa |\n| `invitations` | 30 | enviar convite |\n| `profile_views` | 80 | abrir perfil de pessoa ou pagina de empresa |\n| `search_results` | 1000 | resultados de busca devolvidos (cada chamada conta no minimo 10, uma pagina) |\n| `network_reads` | 200 | seu perfil, conexoes, seguidores, convites pendentes, saldo de InMail, ids de filtro |\n| `content_reads` | 100 | ler posts, comentarios e reacoes |\n| `invitation_responses` | 50 | aceitar, recusar ou cancelar convite |\n| `reactions` | 60 | reagir a post, comentario ou mensagem; endossar |\n| `comments` | 30 | comentar |\n| `posts` | 5 | publicar |\n| `chat_actions` | 100 | editar ou apagar mensagem, marcar como lida, apagar conversa |\n\nLer a caixa de entrada (conversas, mensagens, participantes, anexos) nao consome limite. Existe so um teto contra abuso, que nenhum uso normal alcanca: 5000 leituras e 500 downloads de anexo por dia (`429` com `reason: too_many_attempts`).\n\n## Paginacao\n\nListas devolvem `{ items, cursor }`. Para a proxima pagina, repita a chamada com `?cursor=<valor>`. O cursor e opaco e vale so para a mesma rota e a mesma chave.\n\n## Webhooks\n\nNo painel, em **Webhooks**, voce cria quantos webhooks quiser (ate 10 por conta), cada um com um nome, uma URL https e os eventos que o disparam. Cada entrega e um POST JSON `{type, data}` assinado com o secret daquele webhook (header `X-Webhook-Signature`), e todo `data` traz o `account_id` da conta de origem.\n\n| Evento | Quando |\n| --- | --- |\n| `account.disconnected` | a conexao do LinkedIn caiu (traz `reconnect_url`) |\n| `account.reconnected` | a conexao voltou |\n| `message.received` | mensagem nova numa conversa, inclusive as que a propria conta enviou |\n| `message.read` | a mensagem foi lida |\n| `message.reaction` | alguem reagiu a uma mensagem (traz `reaction`) |\n| `message.edited` | uma mensagem foi editada (traz o `text` novo) |\n| `message.deleted` | uma mensagem foi apagada |\n| `message.delivered` | a mensagem foi entregue |\n| `relation.new` | um convite foi aceito e a pessoa virou conexao. Nao e em tempo real: pode chegar horas depois do aceite |\n\nPara quem configura por codigo, `PUT /v1/webhook` (em **Conta**, abaixo) continua valendo: ele cuida do webhook mais antigo da conta, que recebe mensagem nova e conexao caiu/voltou.\n\n## Suporte\n\nDuvida ou algo fora do esperado: contato@playbooklab.com.br."
  },
  "servers": [
    {
      "url": "https://api.playbooklab.com.br",
      "description": "Producao"
    },
    {
      "url": "http://localhost:8787",
      "description": "Ambiente local de desenvolvimento"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Conversas",
      "description": "Liste, abra, inicie e organize conversas."
    },
    {
      "name": "Mensagens",
      "description": "Envie, leia, edite, apague e reaja a mensagens; baixe anexos."
    },
    {
      "name": "Busca",
      "description": "Encontre pessoas, empresas e posts com os filtros do LinkedIn."
    },
    {
      "name": "Perfis",
      "description": "Seu perfil e o de qualquer pessoa: dados, posts, comentarios, reacoes e endossos."
    },
    {
      "name": "Empresas",
      "description": "Paginas de empresa e seus posts."
    },
    {
      "name": "Convites",
      "description": "Envie, acompanhe, cancele, aceite e recuse convites de conexao."
    },
    {
      "name": "Rede",
      "description": "Suas conexoes e seus seguidores."
    },
    {
      "name": "Posts",
      "description": "Publique, leia, comente e reaja."
    },
    {
      "name": "Conta",
      "description": "Gerencie sua chave e seu webhook de eventos."
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Enviar mensagem",
        "description": "Envia uma mensagem numa conversa existente. Aceita JSON ou `multipart/form-data` com arquivos no campo `attachments` (ate 5, 15 MB somados); com anexo, `text` e opcional.\n\nConsome o limite diario `messages`.",
        "operationId": "sendMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              },
              "example": {
                "chat_id": "abc123",
                "text": "Ola! Tudo bem?"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "chat_id"
                ],
                "properties": {
                  "chat_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageSentEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "message_id": "msg_abc123"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/invitations": {
      "post": {
        "tags": [
          "Convites"
        ],
        "summary": "Enviar convite",
        "description": "Envia um convite de conexao para um destinatario. O `provider_id` e o identificador do destinatario no LinkedIn.\n\nConsome o limite diario `invitations`.",
        "operationId": "sendInvitation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvitationRequest"
              },
              "example": {
                "provider_id": "ACoAAB1234567890",
                "message": "Oi! Gostaria de conectar."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Convite enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationSentEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "invitation_id": "inv_abc123"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundProfile"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/chats": {
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Listar conversas",
        "description": "Lista suas conversas. Use o `id` de cada conversa como `chat_id` ao enviar mensagens. Suporta paginacao por cursor.",
        "operationId": "listChats",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Numero maximo de conversas a retornar.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor de paginacao retornado por uma chamada anterior.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unread",
            "in": "query",
            "required": false,
            "description": "`true` so nao lidas; `false` so lidas.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "So itens anteriores a esta data (ISO 8601, ex.: `2026-09-01` ou `2026-09-01T12:00:00Z`).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "So itens posteriores a esta data (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conversas (ver ChatListEnvelope).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatListEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "items": [
                      {
                        "id": "chat_abc123",
                        "name": "Fulano de Tal",
                        "timestamp": "2026-08-01T12:34:56.000Z",
                        "unread_count": 2,
                        "archived": 0,
                        "attendee_provider_id": "ACoAAB1234567890"
                      }
                    ],
                    "cursor": null
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "post": {
        "tags": [
          "Conversas"
        ],
        "summary": "Iniciar conversa",
        "description": "Abre uma conversa nova com uma pessoa (ou retoma a existente) e envia a primeira mensagem. Para quem nao e sua conexao, use `inmail: true` (gasta credito de InMail). Para falar com uma pagina de empresa, informe `topic`.\n\nConsome o limite diario `messages`.",
        "operationId": "startChat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider_id"
                ],
                "properties": {
                  "provider_id": {
                    "type": "string",
                    "description": "`provider_id` da pessoa ou id da empresa."
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 8000,
                    "description": "Obrigatorio sem anexo."
                  },
                  "inmail": {
                    "type": "boolean",
                    "description": "Enviar como InMail."
                  },
                  "subject": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Assunto (InMail)."
                  },
                  "topic": {
                    "type": "string",
                    "enum": [
                      "service_request",
                      "request_demo",
                      "support",
                      "careers",
                      "other"
                    ],
                    "description": "Obrigatorio para falar com empresa."
                  },
                  "invitation_id": {
                    "type": "string",
                    "description": "Para responder a quem te convidou, antes de aceitar o convite."
                  }
                }
              },
              "example": {
                "provider_id": "ACoAAB1234567890",
                "text": "Oi! Vi seu post sobre prospeccao e queria trocar uma ideia."
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "inmail": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Ate 5 arquivos, 15 MB somados."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "chat_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "message_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "chat_id": "Ab12Cd34Ef56Gh78Ij90Kl",
                    "message_id": "Mn12Op34Qr56St78Uv90Wx"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/keys/rotate": {
      "post": {
        "tags": [
          "Conta"
        ],
        "summary": "Trocar sua chave",
        "description": "Gera uma chave nova e revoga a chave usada nesta chamada. O valor novo aparece UMA unica vez, na resposta: guarde-o imediatamente.",
        "operationId": "rotateKey",
        "responses": {
          "200": {
            "description": "Chave trocada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyRotatedEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "api_key": "lk_live_...nova...",
                    "note": "Guarde agora: este valor nao sera exibido de novo. A chave usada nesta chamada foi revogada."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          }
        }
      }
    },
    "/v1/webhook": {
      "put": {
        "tags": [
          "Conta"
        ],
        "summary": "Configurar webhook de eventos",
        "description": "Registra a URL https do webhook principal da conta (o mais antigo), que recebe `message.received`, `account.disconnected` (com um link de reconexao) e `account.reconnected`. Se ele ja existe, troca a URL e gera um secret novo. Para escolher outros eventos, ou ter mais de um webhook, use o painel. Cada entrega e um POST JSON `{type, data}` assinado: valide `X-Webhook-Signature` (sha256=HMAC-SHA256 do `\"{X-Webhook-Timestamp}.{corpo}\"` com o secret retornado aqui). O secret aparece UMA unica vez.",
        "operationId": "configureWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL https que recebera os eventos."
                  }
                }
              },
              "example": {
                "url": "https://meuapp.com.br/webhooks/linkedapi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configurado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookConfiguredEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        }
      },
      "get": {
        "tags": [
          "Conta"
        ],
        "summary": "Ver configuracao do webhook",
        "operationId": "getWebhook",
        "responses": {
          "200": {
            "description": "Configuracao atual (o secret nunca e reexibido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookStatusEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "url": "https://meuapp.com.br/webhooks/linkedapi",
                    "configured": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          }
        }
      },
      "delete": {
        "tags": [
          "Conta"
        ],
        "summary": "Remover webhook",
        "operationId": "deleteWebhook",
        "responses": {
          "200": {
            "description": "Webhook removido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookStatusEnvelope"
                },
                "example": {
                  "ok": true,
                  "data": {
                    "configured": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          }
        }
      }
    },
    "/v1/chats/{chat_id}": {
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Detalhe da conversa",
        "description": "Uma conversa, com a ultima mensagem. Leitura da caixa de entrada: nao consome limite.",
        "operationId": "getChat",
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "description": "Id da conversa (de `GET /v1/chats`).",
            "schema": {
              "type": "string"
            },
            "example": "Ab12Cd34Ef56Gh78Ij90Kl"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ChatDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "patch": {
        "tags": [
          "Conversas"
        ],
        "summary": "Marcar como lida ou nao lida",
        "operationId": "updateChat",
        "description": "Marca a conversa como lida (`read: true`) ou nao lida (`read: false`).\n\nConsome o limite diario `chat_actions`.",
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "description": "Id da conversa (de `GET /v1/chats`).",
            "schema": {
              "type": "string"
            },
            "example": "Ab12Cd34Ef56Gh78Ij90Kl"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "read"
                ],
                "properties": {
                  "read": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "read": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "updated": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "delete": {
        "tags": [
          "Conversas"
        ],
        "summary": "Apagar conversa",
        "operationId": "deleteChat",
        "description": "Apaga a conversa no seu LinkedIn. **Irreversivel.**\n\nConsome o limite diario `chat_actions`.",
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "description": "Id da conversa (de `GET /v1/chats`).",
            "schema": {
              "type": "string"
            },
            "example": "Ab12Cd34Ef56Gh78Ij90Kl"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "deleted": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/chats/{chat_id}/messages": {
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Mensagens da conversa",
        "operationId": "listChatMessages",
        "description": "Historico da conversa, da mais recente para a mais antiga. Nao consome limite.",
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "description": "Id da conversa (de `GET /v1/chats`).",
            "schema": {
              "type": "string"
            },
            "example": "Ab12Cd34Ef56Gh78Ij90Kl"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "So itens anteriores a esta data (ISO 8601, ex.: `2026-09-01` ou `2026-09-01T12:00:00Z`).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "So itens posteriores a esta data (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sender_id",
            "in": "query",
            "required": false,
            "description": "So mensagens deste remetente.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Message"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Enviar mensagem (chat no caminho)",
        "operationId": "sendMessageToChat",
        "description": "Igual a `POST /v1/messages`, com o `chat_id` no caminho. Aceita JSON (`text`) ou `multipart/form-data` com `attachments`.\n\nConsome o limite diario `messages`.",
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "description": "Id da conversa (de `GET /v1/chats`).",
            "schema": {
              "type": "string"
            },
            "example": "Ab12Cd34Ef56Gh78Ij90Kl"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 8000
                  }
                }
              },
              "example": {
                "text": "Segue a proposta que comentei."
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Ate 5 arquivos, 15 MB somados."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageSentEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/chats/{chat_id}/attendees": {
      "get": {
        "tags": [
          "Conversas"
        ],
        "summary": "Participantes da conversa",
        "operationId": "listChatAttendees",
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "description": "Id da conversa (de `GET /v1/chats`).",
            "schema": {
              "type": "string"
            },
            "example": "Ab12Cd34Ef56Gh78Ij90Kl"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Attendee"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/{message_id}": {
      "get": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Ler mensagem",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Id da mensagem.",
            "schema": {
              "type": "string"
            },
            "example": "Mn12Op34Qr56St78Uv90Wx"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "patch": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Editar mensagem",
        "operationId": "editMessage",
        "description": "Edita o texto de uma mensagem SUA, na primeira hora depois do envio (regra do LinkedIn).\n\nConsome o limite diario `chat_actions`.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Id da mensagem.",
            "schema": {
              "type": "string"
            },
            "example": "Mn12Op34Qr56St78Uv90Wx"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 8000
                  }
                }
              },
              "example": {
                "text": "Texto corrigido."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "edited": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "edited": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      },
      "delete": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Apagar mensagem",
        "operationId": "deleteMessage",
        "description": "Apaga uma mensagem SUA, na primeira hora depois do envio.\n\nConsome o limite diario `chat_actions`.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Id da mensagem.",
            "schema": {
              "type": "string"
            },
            "example": "Mn12Op34Qr56St78Uv90Wx"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "deleted": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/{message_id}/reactions": {
      "post": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Reagir a mensagem",
        "operationId": "reactToMessage",
        "description": "Reage com um emoji.\n\nConsome o limite diario `reactions`.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Id da mensagem.",
            "schema": {
              "type": "string"
            },
            "example": "Mn12Op34Qr56St78Uv90Wx"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reaction"
                ],
                "properties": {
                  "reaction": {
                    "type": "string",
                    "description": "Emoji, ex.: 👍"
                  }
                }
              },
              "example": {
                "reaction": "👍"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "reacted": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "reacted": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/messages/{message_id}/attachments/{attachment_id}": {
      "get": {
        "tags": [
          "Mensagens"
        ],
        "summary": "Baixar anexo",
        "operationId": "downloadAttachment",
        "description": "O arquivo em si (binario). O caminho pronto vem em `attachments[].download_path` de cada mensagem.",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Id da mensagem.",
            "schema": {
              "type": "string"
            },
            "example": "Mn12Op34Qr56St78Uv90Wx"
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "description": "Id do anexo.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "O arquivo.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Perfis"
        ],
        "summary": "Seu perfil",
        "operationId": "getMe",
        "description": "O perfil do LinkedIn conectado a esta chave.\n\nConsome o limite diario `network_reads`.",
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Me"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/inmail-balance": {
      "get": {
        "tags": [
          "Perfis"
        ],
        "summary": "Saldo de InMail",
        "operationId": "getInmailBalance",
        "description": "Quantos InMails voce ainda pode enviar.\n\nConsome o limite diario `network_reads`.",
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/InmailBalance"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/profiles/{identifier}": {
      "get": {
        "tags": [
          "Perfis"
        ],
        "summary": "Perfil de uma pessoa",
        "operationId": "getProfile",
        "description": "Dados do perfil. Por padrao a visita NAO aparece para a pessoa em \"quem viu seu perfil\"; passe `notify=true` para aparecer. Peca so as secoes que vai usar: pedir tudo (`*`) em sequencia faz o LinkedIn limitar as respostas.\n\nConsome o limite diario `profile_views`.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "Identificador da pessoa: o `provider_id` (comeca com `ACo`) ou o identificador publico (o final da URL do perfil, ex.: `joao-silva` em linkedin.com/in/joao-silva).",
            "schema": {
              "type": "string"
            },
            "example": "joao-silva"
          },
          {
            "name": "sections",
            "in": "query",
            "required": false,
            "description": "Secoes detalhadas, separadas por virgula: `experience`, `education`, `skills`, `languages`, `certifications`, `projects`, `volunteering_experience`, `recommendations_received`, `recommendations_given`, `about`, a versao resumida de cada uma com `_preview` (ex.: `skills_preview`), `*_preview` (todas resumidas) ou `*` (todas completas).",
            "schema": {
              "type": "string"
            },
            "example": "experience,skills"
          },
          {
            "name": "notify",
            "in": "query",
            "required": false,
            "description": "Registrar a visita para a pessoa. Padrao `false`.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Profile"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/profiles/{identifier}/posts": {
      "get": {
        "tags": [
          "Perfis"
        ],
        "summary": "Posts de uma pessoa",
        "operationId": "listProfilePosts",
        "description": "Atividade recente publica da pessoa.\n\nConsome o limite diario `content_reads`.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "`provider_id` da pessoa (comeca com `ACo`).",
            "schema": {
              "type": "string"
            },
            "example": "ACoAAB1234567890"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/profiles/{identifier}/comments": {
      "get": {
        "tags": [
          "Perfis"
        ],
        "summary": "Comentarios de uma pessoa",
        "operationId": "listProfileComments",
        "description": "Atividade recente publica da pessoa.\n\nConsome o limite diario `content_reads`.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "`provider_id` da pessoa (comeca com `ACo`).",
            "schema": {
              "type": "string"
            },
            "example": "ACoAAB1234567890"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Comment"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/profiles/{identifier}/reactions": {
      "get": {
        "tags": [
          "Perfis"
        ],
        "summary": "Reacoes de uma pessoa",
        "operationId": "listProfileReactions",
        "description": "Atividade recente publica da pessoa.\n\nConsome o limite diario `content_reads`.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "`provider_id` da pessoa (comeca com `ACo`).",
            "schema": {
              "type": "string"
            },
            "example": "ACoAAB1234567890"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Reaction"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/profiles/{identifier}/chats": {
      "get": {
        "tags": [
          "Perfis"
        ],
        "summary": "Conversas com uma pessoa",
        "operationId": "listChatsWithProfile",
        "description": "As suas conversas com esta pessoa (util para saber se ja existe conversa antes de iniciar outra). Nao consome limite.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "`provider_id` da pessoa (comeca com `ACo`).",
            "schema": {
              "type": "string"
            },
            "example": "ACoAAB1234567890"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "So itens anteriores a esta data (ISO 8601, ex.: `2026-09-01` ou `2026-09-01T12:00:00Z`).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "So itens posteriores a esta data (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ChatDetail"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/profiles/{identifier}/messages": {
      "get": {
        "tags": [
          "Perfis"
        ],
        "summary": "Mensagens com uma pessoa",
        "operationId": "listMessagesWithProfile",
        "description": "Todas as mensagens trocadas com esta pessoa, em qualquer conversa. Nao consome limite.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "`provider_id` da pessoa (comeca com `ACo`).",
            "schema": {
              "type": "string"
            },
            "example": "ACoAAB1234567890"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "So itens anteriores a esta data (ISO 8601, ex.: `2026-09-01` ou `2026-09-01T12:00:00Z`).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "So itens posteriores a esta data (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Message"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/profiles/{identifier}/endorsements": {
      "post": {
        "tags": [
          "Perfis"
        ],
        "summary": "Endossar competencia",
        "operationId": "endorseSkill",
        "description": "Endossa uma competencia da pessoa. O `endorsement_id` vem de `skills[].endorsement_id` em `GET /v1/profiles/{identifier}?sections=skills`.\n\nConsome o limite diario `reactions`.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "`provider_id` da pessoa (comeca com `ACo`).",
            "schema": {
              "type": "string"
            },
            "example": "ACoAAB1234567890"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endorsement_id"
                ],
                "properties": {
                  "endorsement_id": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "endorsement_id": 1234567890
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "endorsed": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "endorsed": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/companies/{identifier}": {
      "get": {
        "tags": [
          "Empresas"
        ],
        "summary": "Pagina de empresa",
        "operationId": "getCompany",
        "description": "Por identificador publico (o final de linkedin.com/company/...), id numerico ou urn.\n\nConsome o limite diario `profile_views`.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "Identificador publico, id numerico ou urn da empresa.",
            "schema": {
              "type": "string"
            },
            "example": "playbooklab"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/companies/{identifier}/posts": {
      "get": {
        "tags": [
          "Empresas"
        ],
        "summary": "Posts da empresa",
        "operationId": "listCompanyPosts",
        "description": "Use o `id` numerico de `GET /v1/companies/{identifier}`.\n\nConsome o limite diario `content_reads`.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "Id numerico da empresa.",
            "schema": {
              "type": "string"
            },
            "example": "12345678"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResource"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/search": {
      "post": {
        "tags": [
          "Busca"
        ],
        "summary": "Buscar pessoas, empresas ou posts",
        "operationId": "search",
        "description": "A busca do LinkedIn, com filtros. Pessoas e empresas vem 10 por pagina; posts, ate 49. Para a proxima pagina, chame de novo so com `?cursor=` (sem corpo): a busca original viaja dentro do cursor.\n\nO limite diario `search_results` conta **resultados devolvidos**, com minimo de 10 por chamada (uma pagina), nao chamadas (o LinkedIn entrega no maximo 1000 resultados por busca).\n\nFiltro que nao existe na categoria responde `400 unknown_filter` (com o nome do filtro), para voce saber que ele nao teria efeito. A busca por `url` aceita buscas de pessoas, empresas e posts (`/search/results/people/`, `/companies/`, `/content/`).",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              },
              "examples": {
                "pessoas": {
                  "summary": "Pessoas com filtros",
                  "value": {
                    "category": "people",
                    "keywords": "head de vendas",
                    "location": [
                      "105871508"
                    ],
                    "network_distance": [
                      2,
                      3
                    ]
                  }
                },
                "empresas": {
                  "summary": "Empresas",
                  "value": {
                    "category": "companies",
                    "keywords": "software",
                    "headcount": [
                      {
                        "min": 11,
                        "max": 50
                      }
                    ]
                  }
                },
                "url": {
                  "summary": "A partir de uma busca feita no LinkedIn",
                  "value": {
                    "url": "https://www.linkedin.com/search/results/people/?keywords=sdr"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        },
                        "total_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Total estimado pelo LinkedIn."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/search/parameters": {
      "get": {
        "tags": [
          "Busca"
        ],
        "summary": "Ids para os filtros da busca",
        "operationId": "searchParameters",
        "description": "O LinkedIn filtra por id, nao por texto. Converte \"Sao Paulo\" no id de `LOCATION`, \"Software\" no de `INDUSTRY` etc.\n\nConsome o limite diario `network_reads`.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "LOCATION",
                "PEOPLE",
                "CONNECTIONS",
                "COMPANY",
                "SCHOOL",
                "INDUSTRY",
                "SERVICE",
                "JOB_FUNCTION",
                "JOB_TITLE",
                "EMPLOYMENT_TYPE",
                "SKILL"
              ]
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Sao Paulo"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SearchParameter"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/relations": {
      "get": {
        "tags": [
          "Rede"
        ],
        "summary": "Suas conexoes",
        "operationId": "listRelations",
        "description": "Suas conexoes de 1o grau, das mais recentes para as mais antigas. Para saber quem aceitou convite, prefira o webhook a consultar esta lista de hora em hora (consulta em horario fixo e um padrao que o LinkedIn identifica como automacao).\n\nConsome o limite diario `network_reads`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filtra por nome.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Relation"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/followers": {
      "get": {
        "tags": [
          "Rede"
        ],
        "summary": "Seus seguidores",
        "operationId": "listFollowers",
        "description": "Quem segue o seu perfil.\n\nConsome o limite diario `network_reads`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Follower"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/AccountPaused"
          },
          "409": {
            "$ref": "#/components/responses/AccountNotReady"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/v1/invitations/sent": {
      "get": {
        "tags": [
          "Convites"
        ],
        "summary": "Convites enviados pendentes",
        "operationId": "listSentInvitations",
        "description": "Convites que voce enviou e ainda nao foram aceitos.\n\nConsome o limite diario `network_reads`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Itens por pagina (1 a 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor opaco da proxima pagina, devolvido pela chamada anterior da MESMA rota. Nao funciona em outra rota nem com outra chave.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "items",
                        "cursor"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/InvitationSent"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor da proxima pagina. `null` quando acabou."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
[...]
