{
  "openapi": "3.1.0",
  "info": {
    "title": "LinkedAPI",
    "version": "1.0.0",
    "description": "API para automacao de LinkedIn. Autentique com sua chave no header `X-API-KEY` e use os endpoints abaixo para enviar mensagens, enviar convites e listar suas conversas.\n\nA conta de LinkedIn usada em cada chamada e determinada pela sua chave, voce nao precisa (nem pode) informa-la no request.\n\nToda resposta de sucesso vem no envelope `{ \"ok\": true, \"data\": ... }`. Erros vem como `{ \"error\": \"<codigo>\" }`, com campos extras conforme o caso."
  },
  "servers": [
    {
      "url": "https://api.linkedapi.com.br",
      "description": "Producao (substitua pela URL informada junto com sua chave)"
    },
    {
      "url": "http://localhost:8787",
      "description": "Ambiente local de desenvolvimento"
    }
  ],
  "security": [{ "apiKey": [] }],
  "tags": [
    { "name": "Mensagens", "description": "Enviar mensagens em conversas existentes." },
    { "name": "Convites", "description": "Enviar convites de conexao." },
    { "name": "Conversas", "description": "Listar suas conversas." },
    { "name": "Conta", "description": "Gerencie sua chave e seu webhook de eventos." }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "tags": ["Mensagens"],
        "summary": "Enviar mensagem",
        "description": "Envia uma mensagem de texto em uma conversa que ja existe. Use `GET /v1/chats` para obter o `chat_id`.",
        "operationId": "sendMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendMessageRequest" },
              "example": { "chat_id": "abc123", "text": "Ola! Tudo bem?" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageSentEnvelope" },
                "example": { "ok": true, "data": { "message_id": "msg_abc123" } }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "502": { "$ref": "#/components/responses/UpstreamError" }
        }
      }
    },
    "/v1/invitations": {
      "post": {
        "tags": ["Convites"],
        "summary": "Enviar convite",
        "description": "Envia um convite de conexao para um destinatario. O `provider_id` e o identificador do destinatario no LinkedIn.",
        "operationId": "sendInvitation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendInvitationRequest" },
              "example": {
                "provider_id": "ACoAAB1234567890",
                "message": "Oi! Gostaria de conectar."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Convite enviado.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InvitationSentEnvelope" },
                "example": { "ok": true, "data": { "invitation_id": "inv_abc123" } }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "502": { "$ref": "#/components/responses/UpstreamError" }
        }
      }
    },
    "/v1/chats": {
      "get": {
        "tags": ["Conversas"],
        "summary": "Listar conversas",
        "description": "Lista suas conversas. Use o `id` de cada conversa como `chat_id` ao enviar mensagens. Suporta paginacao por cursor.",
        "operationId": "listChats",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Numero maximo de conversas a retornar.",
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor de paginacao retornado por uma chamada anterior.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de conversas (ver ChatListEnvelope).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatListEnvelope" },
                "example": {
                  "ok": true,
                  "data": {
                    "items": [
                      {
                        "id": "chat_abc123",
                        "name": "Fulano de Tal",
                        "timestamp": "2026-08-01T12:34:56.000Z",
                        "unread_count": 2,
                        "archived": 0,
                        "attendee_provider_id": "ACoAAB1234567890"
                      }
                    ],
                    "cursor": null
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "502": { "$ref": "#/components/responses/UpstreamError" }
        }
      }
    },
    "/v1/keys/rotate": {
      "post": {
        "tags": ["Conta"],
        "summary": "Trocar sua chave",
        "description": "Gera uma chave nova e revoga a chave usada nesta chamada. O valor novo aparece UMA unica vez, na resposta: guarde-o imediatamente.",
        "operationId": "rotateKey",
        "responses": {
          "200": {
            "description": "Chave trocada.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KeyRotatedEnvelope" },
                "example": {
                  "ok": true,
                  "data": {
                    "api_key": "lk_live_...nova...",
                    "note": "Guarde agora: este valor nao sera exibido de novo. A chave usada nesta chamada foi revogada."
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/webhook": {
      "put": {
        "tags": ["Conta"],
        "summary": "Configurar webhook de eventos",
        "description": "Registra a URL https que recebera seus eventos (ex.: `message.received` quando alguem responde uma conversa; `account.disconnected` com um link de reconexao quando sua sessao cair). Cada entrega e um POST JSON `{type, data}` assinado: valide `X-Webhook-Signature` (sha256=HMAC-SHA256 do `\"{X-Webhook-Timestamp}.{corpo}\"` com o secret retornado aqui). O secret aparece UMA unica vez.",
        "operationId": "configureWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL https que recebera os eventos."
                  }
                }
              },
              "example": { "url": "https://meuapp.com.br/webhooks/linkedapi" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configurado.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookConfiguredEnvelope" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "tags": ["Conta"],
        "summary": "Ver configuracao do webhook",
        "operationId": "getWebhook",
        "responses": {
          "200": {
            "description": "Configuracao atual (o secret nunca e reexibido).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookStatusEnvelope" },
                "example": {
                  "ok": true,
                  "data": { "url": "https://meuapp.com.br/webhooks/linkedapi", "configured": true }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "tags": ["Conta"],
        "summary": "Remover webhook",
        "operationId": "deleteWebhook",
        "responses": {
          "200": {
            "description": "Webhook removido.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookStatusEnvelope" },
                "example": { "ok": true, "data": { "configured": false } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Sua chave de API, no formato `lk_live_...`. Enviada em toda requisicao no header `X-API-KEY`."
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": ["chat_id", "text"],
        "additionalProperties": false,
        "properties": {
          "chat_id": {
            "type": "string",
            "description": "Id da conversa existente (obtido em `GET /v1/chats`)."
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "description": "Conteudo da mensagem."
          }
        }
      },
      "SendInvitationRequest": {
        "type": "object",
        "required": ["provider_id"],
        "additionalProperties": false,
        "properties": {
          "provider_id": {
            "type": "string",
            "description": "Identificador do destinatario no LinkedIn."
          },
          "message": {
            "type": "string",
            "description": "Mensagem opcional que acompanha o convite."
          }
        }
      },
      "MessageSentEnvelope": {
        "type": "object",
        "required": ["ok", "data"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "data": {
            "type": "object",
            "required": ["message_id"],
            "properties": {
              "message_id": {
                "type": ["string", "null"],
                "description": "Identificador da mensagem enviada."
              }
            }
          }
        }
      },
      "InvitationSentEnvelope": {
        "type": "object",
        "required": ["ok", "data"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "data": {
            "type": "object",
            "required": ["invitation_id"],
            "properties": {
              "invitation_id": {
                "type": ["string", "null"],
                "description": "Identificador do convite enviado."
              }
            }
          }
        }
      },
      "ChatListEnvelope": {
        "type": "object",
        "required": ["ok", "data"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "data": {
            "type": "object",
            "required": ["items", "cursor"],
            "properties": {
              "items": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ChatSummary" }
              },
              "cursor": {
                "type": ["string", "null"],
                "description": "Cursor para a proxima pagina. `null` quando nao ha mais resultados."
              }
            }
          }
        }
      },
      "ChatSummary": {
        "type": "object",
        "description": "Resumo de uma conversa. Use `id` como `chat_id` ao enviar mensagens; `attendee_provider_id` e o mesmo identificador aceito em `POST /v1/invitations`.",
        "properties": {
          "id": { "type": ["string", "null"], "description": "Id da conversa." },
          "name": { "type": ["string", "null"], "description": "Nome da conversa/contato." },
          "timestamp": { "type": ["string", "null"], "description": "Data/hora da ultima atividade (ISO 8601)." },
          "unread_count": { "type": ["integer", "null"], "description": "Mensagens nao lidas." },
          "archived": { "type": ["integer", "null"], "description": "1 se a conversa esta arquivada, 0 caso contrario." },
          "attendee_provider_id": { "type": ["string", "null"], "description": "Identificador do contato no LinkedIn." }
        }
      },
      "KeyRotatedEnvelope": {
        "type": "object",
        "required": ["ok", "data"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "data": {
            "type": "object",
            "required": ["api_key"],
            "properties": {
              "api_key": {
                "type": "string",
                "description": "Sua chave nova (formato lk_live_...). Exibida somente aqui."
              },
              "note": { "type": "string" }
            }
          }
        }
      },
      "WebhookConfiguredEnvelope": {
        "type": "object",
        "required": ["ok", "data"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "data": {
            "type": "object",
            "required": ["url", "secret"],
            "properties": {
              "url": { "type": "string" },
              "secret": {
                "type": "string",
                "description": "Secret de assinatura (formato lk_whsec_...). Exibido somente aqui; valida o header X-Webhook-Signature de cada evento."
              },
              "note": { "type": "string" }
            }
          }
        }
      },
      "WebhookStatusEnvelope": {
        "type": "object",
        "required": ["ok", "data"],
        "properties": {
          "ok": { "type": "boolean", "const": true },
          "data": {
            "type": "object",
            "required": ["configured"],
            "properties": {
              "url": { "type": ["string", "null"] },
              "configured": { "type": "boolean" }
            }
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Codigo do erro, legivel por maquina."
          },
          "upstream_status": {
            "type": "integer",
            "description": "Presente em erros 502: o status HTTP recebido do sistema por tras da API."
          },
          "action": {
            "type": "string",
            "description": "Presente em erros 429: a acao cujo limite foi atingido."
          },
          "limit": {
            "type": "integer",
            "description": "Presente em erros 429: o limite diario da acao."
          },
          "retry_after": {
            "type": "integer",
            "description": "Presente em erros 429: segundos ate a proxima janela (igual ao header Retry-After)."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Requisicao invalida (campo obrigatorio ausente ou JSON malformado).",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" },
            "examples": {
              "missing_field": { "value": { "error": "missing_chat_id" } },
              "invalid_json": { "value": { "error": "invalid_json" } }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Chave ausente, invalida ou revogada.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" },
            "examples": {
              "missing_api_key": { "value": { "error": "missing_api_key" } },
              "invalid_api_key": { "value": { "error": "invalid_api_key" } }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Limite diario da acao atingido. Aguarde a virada da janela (header `Retry-After` traz os segundos restantes).",
        "headers": {
          "Retry-After": {
            "description": "Segundos ate a proxima janela.",
            "schema": { "type": "integer" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" },
            "example": {
              "error": "rate_limited",
              "action": "messages",
              "limit": 80,
              "retry_after": 3600
            }
          }
        }
      },
      "UpstreamError": {
        "description": "A API esta no ar, mas a operacao falhou no sistema por tras dela. `upstream_status` traz o status recebido.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" },
            "example": { "error": "upstream_error", "upstream_status": 500 }
          }
        }
      }
    }
  }
}
